In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import joblib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error

In [3]:
df = pd.read_csv("Watertypes_data_alt.csv")
# Drop the columns that we don't need
df = df[df.columns[~df.columns.isin(['id', 'Name', 'Paper', 'Water type'])]]#, 'ksed (1/h)'])]]
# drop rows with NaNs
df = df.dropna()
df.head()

,pH,Conductivity (uS),SO4 (mg/l),Cl (mg/l),K (mg/l),Na (mg/l),Ca (mg/l),Mg (mg/l),Concentration (mg/l),HD_0,HD_60,ksed (1/h)
0,8.05,37400,3133.0,19333.0,377.8,10620.0,398.0,1361.4,10.0,477.51,1227.25,0.3980
1,7.99,36300,2550.0,17667.0,339.8,9726.0,376.0,1225.4,10.0,477.51,1227.25,0.0596
2,7.99,36300,2550.0,17667.0,339.8,9726.0,376.0,1225.4,50.0,909.19,1950.62,0.2050
3,7.99,36300,2550.0,17667.0,339.8,9726.0,376.0,1225.4,100.0,886.48,1948.86,0.3830
4,7.99,36300,2550.0,17667.0,339.8,9726.0,376.0,1225.4,200.0,886.48,1948.86,0.6690

In [4]:
# drop the k_sed column and keep only HD_60, Concentration, and pH.
x =  df[['HD_60', 'Concentration (mg/l)', 'pH']]

column_names = x.columns 

#scale the columns
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns = column_names)

y = df['ksed (1/h)']

print('x data shape:', x_scaled.shape)
print('y data shape:', y.shape)
x_scaled.head()
#x.head()

x data shape: (35, 3)
y data shape: (35,)

      HD_60  Concentration (mg/l)        pH
0  1.301958             -0.267350 -0.608594
1  1.301958             -0.267350 -0.971676
2  2.738987              0.534711 -0.971676
3  2.735491              1.537288 -0.971676
4  2.735491              3.542441 -0.971676

In [6]:
# load the model from disk
RF_final = joblib.load('Final_RF_model.sav')
RF_final

y_pred_general = RF_final.predict(x_scaled)
general_score = mean_absolute_percentage_error(y, y_pred_general)
general_score

0.38675234262554414