In [14]:
import pandas as pd
import numpy as np
import seaborn as sb
import joblib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error

In [24]:
# load the model from disk
RF_final = joblib.load('Final_RF_model.sav')
RF_final

RandomForestRegressor(max_depth=10, n_estimators=10, random_state=0)

In [32]:
# Load the csv with the TiO2 that we want to predict the ksed value.
df = pd.read_csv("C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Chen_2019/water_exposure/Chen_2019_ksed_predictions.csv")
df

         Name  Particle size (nm)  HD_60  Concentration (mg/l)  pH
0     TiO2-5A                   5    908                   0.1   7
1     TiO2-5A                   5    908                   1.0   7
2     TiO2-5A                   5    908                  10.0   7
3    TiO2-10A                  10    929                   0.1   7
4    TiO2-10A                  10    929                   1.0   7
5    TiO2-10A                  10    929                  10.0   7
6   TiO2-100A                 100    763                   0.1   7
7   TiO2-100A                 100    763                   1.0   7
8   TiO2-100A                 100    763                  10.0   7
9    TiO2-P25                  20    953                   0.1   7
10   TiO2-P25                  20    953                   1.0   7
11   TiO2-P25                  20    953                  10.0   7
12   TiO2-25R                  25    908                   0.1   7
13   TiO2-25R                  25    908                   1.0   7
14   TiO2-25R                  25    908                  10.0   7

In [36]:
#Process the data 
#scale the columns
x = df.drop(["Name"], axis=1)
columns = x.columns
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns = columns)
x_scaled

    Particle size (nm)     HD_60  Concentration (mg/l)   pH
0            -0.777482  0.236890             -0.805387  0.0
1            -0.777482  0.236890             -0.604040  0.0
2            -0.777482  0.236890              1.409428  0.0
3            -0.633504  0.551745             -0.805387  0.0
4            -0.633504  0.551745             -0.604040  0.0
5            -0.633504  0.551745              1.409428  0.0
6             1.958102 -1.937103             -0.805387  0.0
7             1.958102 -1.937103             -0.604040  0.0
8             1.958102 -1.937103              1.409428  0.0
9            -0.345547  0.911578             -0.805387  0.0
10           -0.345547  0.911578             -0.604040  0.0
11           -0.345547  0.911578              1.409428  0.0
12           -0.201569  0.236890             -0.805387  0.0
13           -0.201569  0.236890             -0.604040  0.0
14           -0.201569  0.236890              1.409428  0.0

In [38]:
# take predictions of ksed
y_predicted = RF_final.predict(x_scaled)
y_predicted

array([0.05305 , 0.05305 , 0.19052 , 0.04989 , 0.04989 , 0.18502 ,
       0.039086, 0.039086, 0.083569, 0.04519 , 0.04519 , 0.18502 ,
       0.04942 , 0.04942 , 0.19052 ])

In [39]:
df['y_pred'] = y_predicted

In [40]:
df

         Name  Particle size (nm)  HD_60  Concentration (mg/l)  pH    y_pred
0     TiO2-5A                   5    908                   0.1   7  0.053050
1     TiO2-5A                   5    908                   1.0   7  0.053050
2     TiO2-5A                   5    908                  10.0   7  0.190520
3    TiO2-10A                  10    929                   0.1   7  0.049890
4    TiO2-10A                  10    929                   1.0   7  0.049890
5    TiO2-10A                  10    929                  10.0   7  0.185020
6   TiO2-100A                 100    763                   0.1   7  0.039086
7   TiO2-100A                 100    763                   1.0   7  0.039086
8   TiO2-100A                 100    763                  10.0   7  0.083569
9    TiO2-P25                  20    953                   0.1   7  0.045190
10   TiO2-P25                  20    953                   1.0   7  0.045190
11   TiO2-P25                  20    953                  10.0   7  0.185020
12   TiO2-25R                  25    908                   0.1   7  0.049420
13   TiO2-25R                  25    908                   1.0   7  0.049420
14   TiO2-25R                  25    908                  10.0   7  0.190520

In [43]:
df.to_csv('C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Chen_2019/water_exposure/Chen_2019_ksed_predictions.csv',
          sep=',', encoding='utf-8', index=False)