In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import joblib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error

In [4]:
# load the model from disk
RF_final = joblib.load('Final_RF_model.sav')
RF_final

RandomForestRegressor(max_depth=10, n_estimators=10, random_state=0)

In [5]:
# Load the csv with the TiO2 that we want to predict the ksed value.
#df = pd.read_csv("C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2016/data/Fan_2016_ksed_predictions.csv")
#df = pd.read_csv("C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Zhu_2010/data/Zhu_2010_ksed_predictions.csv")
df = pd.read_csv("C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2018/data/Fan_2018_ksed_predictions.csv")

df

  Name  Particle size (nm)   HD_60  Concentration (mg/l)  pH
0   H0                  30  291.30                     1   8
1   H1                  30  361.03                    10   8
2   H3                  30  486.93                     1   8
3   H5                  30  689.47                    10   8
4   S0                  30  409.33                     1   8
5   S1                  30  651.00                    10   8
6   S3                  30  662.40                     1   8
7   S5                  30  748.33                    10   8

In [6]:
#Process the data 
#scale the columns
x = df.drop(["Name"], axis=1)
columns = x.columns
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns = columns)
x_scaled

   Particle size (nm)     HD_60  Concentration (mg/l)   pH
0                 0.0 -1.531249                  -1.0  0.0
1                 0.0 -1.097514                   1.0  0.0
2                 0.0 -0.314392                  -1.0  0.0
3                 0.0  0.945446                   1.0  0.0
4                 0.0 -0.797079                  -1.0  0.0
5                 0.0  0.706155                   1.0  0.0
6                 0.0  0.777066                  -1.0  0.0
7                 0.0  1.311567                   1.0  0.0

In [7]:
# take predictions of ksed
y_predicted = RF_final.predict(x_scaled)
y_predicted

array([0.039086, 0.072132, 0.06696 , 0.24286 , 0.028169, 0.21532 ,
       0.07024 , 0.24286 ])

In [8]:
df['y_pred'] = y_predicted

In [9]:
df

  Name  Particle size (nm)   HD_60  Concentration (mg/l)  pH    y_pred
0   H0                  30  291.30                     1   8  0.039086
1   H1                  30  361.03                    10   8  0.072132
2   H3                  30  486.93                     1   8  0.066960
3   H5                  30  689.47                    10   8  0.242860
4   S0                  30  409.33                     1   8  0.028169
5   S1                  30  651.00                    10   8  0.215320
6   S3                  30  662.40                     1   8  0.070240
7   S5                  30  748.33                    10   8  0.242860

In [10]:
# df.to_csv('C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2016/data/Fan_2016_ksed_predictions.csv',
#           sep=',', encoding='utf-8', index=False)
# df.to_csv('C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Zhu_2010/data/Zhu_2010_ksed_predictions.csv',
#           sep=',', encoding='utf-8', index=False)
df.to_csv('C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2018/data/Fan_2018_ksed_predictions.csv',
          sep=',', encoding='utf-8', index=False)