In [14]:
import pandas as pd
import numpy as np
import seaborn as sb
import joblib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error

In [24]:
# load the model from disk
RF_final = joblib.load('Final_RF_model.sav')
RF_final

RandomForestRegressor(max_depth=10, n_estimators=10, random_state=0)

In [44]:
# Load the csv with the TiO2 that we want to predict the ksed value.
df = pd.read_csv("C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2016/data/Fan_2016_ksed_predictions.csv")
df

   Name  Particle size (nm)       HD_60  Concentration (mg/l)  pH
0    T1                  30  590.869000                   0.1   8
1    T1                  30  590.869000                   1.0   8
2    T1                  30  590.869000                  10.0   8
3    T2                  80  319.648328                   0.1   8
4    T2                  80  319.648328                   1.0   8
5    T2                  80  319.648328                  10.0   8
6    H1                  50  311.167292                   0.1   8
7    H1                  50  311.167292                   1.0   8
8    H1                  50  311.167292                  10.0   8
9    S1                  50  542.420927                   0.1   8
10   S1                  50  542.420927                   1.0   8
11   S1                  50  542.420927                  10.0   8
12   H2                  50  387.796883                   0.1   8
13   H2                  50  387.796883                   1.0   8
14   H2                  50  387.796883                  10.0   8
15   S2                 200  834.154700                   0.1   8
16   S2                 200  834.154700                   1.0   8
17   S2                 200  834.154700                  10.0   8

In [45]:
#Process the data 
#scale the columns
x = df.drop(["Name"], axis=1)
columns = x.columns
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns = columns)
x_scaled

    Particle size (nm)     HD_60  Concentration (mg/l)   pH
0            -0.817889  0.507330             -0.805387  0.0
1            -0.817889  0.507330             -0.604040  0.0
2            -0.817889  0.507330              1.409428  0.0
3             0.058421 -0.969162             -0.805387  0.0
4             0.058421 -0.969162             -0.604040  0.0
5             0.058421 -0.969162              1.409428  0.0
6            -0.467365 -1.015332             -0.805387  0.0
7            -0.467365 -1.015332             -0.604040  0.0
8            -0.467365 -1.015332              1.409428  0.0
9            -0.467365  0.243585             -0.805387  0.0
10           -0.467365  0.243585             -0.604040  0.0
11           -0.467365  0.243585              1.409428  0.0
12           -0.467365 -0.598170             -0.805387  0.0
13           -0.467365 -0.598170             -0.604040  0.0
14           -0.467365 -0.598170              1.409428  0.0
15            2.161563  1.831748             -0.805387  0.0
16            2.161563  1.831748             -0.604040  0.0
17            2.161563  1.831748              1.409428  0.0

In [46]:
# take predictions of ksed
y_predicted = RF_final.predict(x_scaled)
y_predicted

array([0.05021 , 0.05021 , 0.18366 , 0.028169, 0.028169, 0.066125,
       0.03131 , 0.03131 , 0.089216, 0.04942 , 0.04942 , 0.19052 ,
       0.03451 , 0.03451 , 0.15225 , 0.09584 , 0.09584 , 0.25516 ])

In [47]:
df['y_pred'] = y_predicted

In [48]:
df

   Name  Particle size (nm)       HD_60  Concentration (mg/l)  pH    y_pred
0    T1                  30  590.869000                   0.1   8  0.050210
1    T1                  30  590.869000                   1.0   8  0.050210
2    T1                  30  590.869000                  10.0   8  0.183660
3    T2                  80  319.648328                   0.1   8  0.028169
4    T2                  80  319.648328                   1.0   8  0.028169
5    T2                  80  319.648328                  10.0   8  0.066125
6    H1                  50  311.167292                   0.1   8  0.031310
7    H1                  50  311.167292                   1.0   8  0.031310
8    H1                  50  311.167292                  10.0   8  0.089216
9    S1                  50  542.420927                   0.1   8  0.049420
10   S1                  50  542.420927                   1.0   8  0.049420
11   S1                  50  542.420927                  10.0   8  0.190520
12   H2                  50  387.796883                   0.1   8  0.034510
13   H2                  50  387.796883                   1.0   8  0.034510
14   H2                  50  387.796883                  10.0   8  0.152250
15   S2                 200  834.154700                   0.1   8  0.095840
16   S2                 200  834.154700                   1.0   8  0.095840
17   S2                 200  834.154700                  10.0   8  0.255160

In [49]:
df.to_csv('C:/Users/vassi/Documents/GitHub/TiO2_aggregation_and_uptake/Exposure/Fan_2016/data/Fan_2016_ksed_predictions.csv',
          sep=',', encoding='utf-8', index=False)